* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: row;
}

.ime {
  height: 100vh;
  width: 50%;
}
.imeg {
  width: 35vw; /* 25% of viewport width */
  height: 100vh;
}
img {
}
.sign-up-body {
  background: #e6e1e1;
  display: flex;
  flex-direction: raw;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
